joblib==0.13.2
matplotlib==3.1.1
ipdb==0.12.2
typing==3.7.4.1
setuptools==41.0.1
termcolor==1.1.0
pandas==0.25.1
Shapely==1.6.4.post2
argoverse==1.0.0
tensorflow==1.14.0
numpy==1.17.1
torch==1.2.0
scikit_learn==0.21.3
